---
import Section from './Section.astro'
---

<Section 
    title="Accesorios" 
    color="black"
>
    
    <div slot="footer" class="flex gap-x-6 mx-auto" id="modely">
        <a class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block  hover:bg-black hover:border-gray-500 transition-colors" href="#">
            Comprar ahora
        </a>
    </div>
    <img alt="Model Y" class="h-full w-full object-cover object-center bg-image" src="accessories.webp" id="bg-image-modely"
    slot="background"
  />
</Section>